---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import BaseCard from "@/components/BaseCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import Showcase from "@/components/mdx/Showcase.astro";

const sites = [{ name: "Kael Demo", url: "https://zayck-demo.pages.dev" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      infoIcon="lucide:link"
    >
      <div class="space-y-10">
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="Kael"
              avatar="/goat.png"
              description="系统 · 高效 · 实用"
              url="https://zayck.pages.dev"
              type="friend"
            />
            <FriendCard
              name="Firefly"
              avatar="https://zayck-img.pages.dev/file/1765005605410_BandiView_firefly.webp"
              description="虚位以待！"
              url="https://zayck-firefly.pages.dev"
              type="friend"
            />

          </div>
          <div class="divider my-8">
            <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
          </div>
        </section>
      </div>
    </MainCard>
    <Card>
      <div class="p-4 sm:p-6">
        <div class="space-y-10">
          <section>
            <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-2">
              <h2 class="text-2xl font-bold flex items-center gap-2">
                <Icon name="lucide:layout-template" class="w-6 h-6 text-primary" />
                <span>使用 Kael 的网站</span>
              </h2>
              <a
                href="https://github.com/zayck/Kael/edit/main/src/pages/friend.astro"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-sm btn-outline btn-primary gap-2"
              >
                <Icon name="lucide:plus-circle" class="w-4 h-4" />
                添加你的博客
              </a>
            </div>
            <p class="text-base-content/70 mb-6">
              以下是使用 Kael 构建的网站列表。想要将您的网站列入其中吗?请点击右上角的 “添加你的博客” 按钮，通过提交 Pull Request 来编辑此页面!
            </p>
            <div class="flex flex-wrap items-center gap-3">
              {sites.map((site) => <Showcase name={site.name} url={site.url} />)}
            </div>
          </section>
        </div>
      </div>
    </Card>
  </CardGroup>
</BaseLayout>
